@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Comfortaa:wght@500&display=swap');
/* #navbar{
    height:70px;

} */
#navbar-div-id{
 font-family: 'Comfortaa', cursive;

}
#logo-id{
    width:110px;
    height:60px;
}

#comic-movies-link-id{
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 10px;
  /* color: cyan; */
  color: rgb(139, 141, 141);

}
#comic-movies-link-id{
  border: solid;
  border-color: rgb(47, 57, 57);
  border-radius: 50px;
}
#comic-movies-link-id:hover{
  color: rgb(244, 244, 225);
  background-color: rgb(36, 36, 36);

  transform: translateY(-1.2px);
  transform: scale(0.95);
  transition: .5s;
  background-image: linear-gradient(45deg, #3e3e3e 0%, #6a6b75  51%, #63656b  100%);

}

